@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
body {
  background-color: #96c868;
  font-family: "Jomhuria", serif;
  font-size: 100px;
  color: #022d11;
  cursor: url("./image/cursor_three.png"), auto;
}

.scoreContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.nuhContainer {
  display: grid;
  gap: 100px;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  justify-content: center;
  row-gap: 200px;
}
.nuhContainer > div {
  height: 100px;
  width: 300px;
  background-color: #230d2d;
  border-radius: 100%;
  position: relative;
}
.startBtn {
  background-color: #022d11;
  height: 100px;
  width: 200px;
  color: aliceblue;
  text-align: center;
  border-radius: 100px;
}
.TimerBack {
  height: 20px;
  width: 500px;
  background-color: #809b64;
  border-radius: 50px;
}
.Timer {
  height: 20px;
  width: 20px;
  background-color: #254700;
  border-radius: 50px;
}
.numberTime {
  display: flex;
  justify-content: space-between;
}
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}

.startBtn:hover {
  background-color: #046c2c;
  color: #fff;
  cursor: pointer;
}

.mole {
  background-image: url("./image/ab7ba87f34c5d1d5d8505ed4b88c5e96b7741da1.png");
  background-size: cover;
  height: 172px;
  width: 165px;
  position: absolute;
  top: -70px;
  left: 62px;
}
